body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: chocolate;
}
nav {
    position: fixed;
    height: 80px;
    overflow: hidden;
    top: 0;
    display: flex;
    align-items: center;
    background: #fa0707e6;
    width: 100%;
}

.logo {
    background: url(../img/logo.png) no-repeat 50% 50%;
    background-size: contain;
    width: 180px;
    height: 80px;
    float: left;
}

.menu{
    position: absolute;
    right: 20px;
}

.menu a{
    color: rgb(240, 240, 240);
    text-decoration: none;
    font-weight: 700;
    margin-left: 20px;
    transition: color 0.3s;
    text-transform: uppercase;
}

.menu a:hover{
    color: #dae858;
}
h1 {
    width: 100%;
    height: 80px;
    margin-top: 80px;
    padding-top: 90px;
    padding-left: 20px;
 }

.btn {
    display: none;
    position: absolute;
    right: 20px;
}
.btn:hover > span {
    background-color: #E85860;
}
.btn span {
    display: block;
    margin: 6px;
    width: 40px;
    height: 3px;
    background: #333;
}


p {
    font-family: 'Poppins', sans-serif;
    padding: 5px 20px 20px 20px;
    font-size: 20px;
    text-align: justify;
}

@media only screen and (max-width: 550px){
    nav {
        overflow: visible;
    }
    .menu {
        width: 100%;
        right: 0;
        top: 80px;
        background: #ed0202e6;
        overflow: hidden;
        max-height: 0;
    }
    .menu a{
        display: block;
        text-align: center;
        padding: 10px;
        margin: 0;
    }
    .btn {
        display: block;
        cursor: pointer;
    }
    .show {
        max-height: 200px;
    }
}
